.content-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 3px solid #ddd; /* Adaugare bordura */

}
.content-section h2 a{
    color: #212121;
    text-decoration: none;
}

.content-section h2 a:hover{
    color: #888;
}