/* Resetare stil implicit a browser-ului */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stilizare globală */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
}

header {
    position: relative;
    background-image: url("images/1409318.jpg");
    background-color: rgba(0, 0, 0, 0.9);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 60px 0 20px 0;
    height: 30vh;
    width: 100vw;
}

.nav-ul {
    position: absolute;
    bottom: 0;
    left: 33%;
}

.nav-header ul {
    background-color: transparent;
    list-style: none;
    text-align: center;
    padding: 10px 0;
}

.nav-header ul li {
    display: inline;
    margin-right: 20px;
}

.nav-header ul li:last-child {
    margin-right: 0;
}

.nav-header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-header ul li a:hover {
    color: #d09a04;
}

main {
    padding: 20px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
