
/* Login container */
.login-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    margin-right: 20px;
}

.login-container p {
    color: #d09a04;
    font-weight: bold;
    font-size: 18px;
    margin: 15px 35px 0 0;
}

.login-container a {
    padding: 15px;
    text-decoration: none;
    color: #ffffff;
}

.login-container a:hover {
    color: #333;
}

/* Sign-up link */
.sign-up {
    margin-top: 15px;
    text-align: center;
}

.sign-up a {
    color: #333;
    text-decoration: none;
}

/* Form input styles */
.input-form {
    margin-top: 5%;
}

.input-form .form-group {
    text-align: center;
    margin-top: 2%;
}

.input-form .form-group .form-control {
    text-align: center;
    color: #181f3b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    width: 30%;
    padding: 20px;
    border: 2px solid #261965;
    border-radius: 10px;
    font-size: large;
}

.input-form .submit-form {
    color: #181f3b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #d09a04;
    padding: 15px;
    width: 300px;
    font-size: large;
    border: 1px solid #f3eae8;
    border-radius: 5px;
}
.input-form .submit-form:hover {
    cursor: pointer;
    background-color: #d09a04a7;
}
/* Error messages */
.error {
    text-align: center;
    margin-right: 50px;
    margin-top: 25px;
    color: #fd1749;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
