{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content%}

    <main class="main-content">
        <section class="content-section">
            <h2>Bine ați venit pe pagina Acasă a forumului!</h2>
            <p>Aceasta este pagina principală a forumului serverului CS 1.6 "fun.bimbizone.ro (UWC3mod)". Aici puteți discuta despre ultimele noutăți, evenimente și multe altele legate de comunitatea noastră.</p>
        </section>

        <section class="content-section">
        <h2><a href="{{ url_for('tutorial') }}">Tutorial</a></h2>
        <p>Aici NU puteți găsi tutoriale utile pentru jocul CS 1.6 și plugin-urile noastre speciale.</p>
    </section>

    <section class="content-section">
        <h2><a href="{{ url_for('discutiiGenerale') }}">Discuții Generale</a></h2>
        <p>În această secțiune puteți discuta despre orice subiect legat de jocul CS 1.6 și comunitatea noastră.</p>
    </section>

    </main>

    <footer>
        <p>&copy; 2023 fun.bimbizone.ro (UWC3mod) - Forum CS 1.6</p>
    </footer>

{% endblock %}
