<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login-register.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='acasa.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='regulament.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='new-topic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='topic-details.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='reply-topic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='discutiigenerale.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="{{ url_for('static', filename='admin.js') }}"></script>

</head>

<body>
    <header>
        <h1>Forum CS 1.6</h1>
        <h2>Server: fun.bimbizone.ro (UWC3mod)</h2>

        <nav class="nav-header">
            <ul class="nav-ul">
                <li><a href="{{ url_for('home') }}">Acasă</a></li>
                <li><a href="{{ url_for('regulament') }}">Regulament</a></li>
                <li><a href="{{ url_for('tutorial') }}">Tutorial</a></li>
                <li><a href="{{ url_for('discutiiGenerale') }}">Discuții Generale</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
        {% if current_user.is_authenticated %}
        <div class="login-container">
            <a href="{{ url_for('main_profile') }}">{{ current_user.username.title() }}</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        {% else %}
        <div class="login-container">
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        </div>
        {% endif %}
    </header>

    {% block content %}

    {% endblock %}
</body>
</html>