{% extends 'base.html' %}

{% block title %}
  Login
{% endblock %}

{% block content %}

    <main class="main-content">
        <section class="content-section">
            <h2>Informatii de Contact</h2>
            <p>Pentru orice întrebări sau solicitări, vă rugăm să ne contactați folosind detaliile de mai jos</p>
        </section>
        
        <!-- Adăugați conținut specific pentru tutorial aici -->

        <div class="contact-content">
            <ol class="contact-ol">
                <li><b>Email: contact@fun.bimbizone.ro</b></li>
                <li>Telefon: +123456789</li>
                <li>Adresă: Strada Exemplu, Orașul Tău, 12345</li>
                <!-- Adăugați mai multe reguli aici -->
            </ol>
	    </div>
            
        <!-- Adăugați conținut specific pentru tutorial aici -->

    </main>

    <footer class="footer">
        <p>&copy; 2023 fun.bimbizone.ro (UWC3mod) - Forum CS 1.6</p>
    </footer>
{% endblock %}
