{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content%}


    <main class="main-content">
        <section class="content-section">
            <h2>Discuții Generale</h2>
            <p>În această secțiune puteți discuta despre orice subiect legat de jocul CS 1.6 și comunitatea noastră.</p>
        </section>
        
        <a href="{{ url_for('new_topic') }}" class="new-topic-button">New Topic</a>
        <!-- Adăugați conținut specific pentru discuții generale aici -->
        
        <div class="dg-container">
            <ul class="dg-ul">
                {% for topic in topics %}
                <li>
                    <div class="section">
                        <h2>{{ topic.title }}</h2>
                        <div class="post">{{ topic.post }}</div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>        

    </main>

    <footer class="footer">
        <p>&copy; 2023 fun.bimbizone.ro (UWC3mod) - Forum CS 1.6</p>
    </footer>
{% endblock %}