{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content%}


    <main class="main-content">
        <section class="content-section">
            <h2>Discuții Generale</h2>
            <p>În această secțiune puteți discuta despre orice subiect legat de jocul CS 1.6 și comunitatea noastră.</p>
        </section>
        
        <a href="{{ url_for('new_topic') }}" class="new-topic-button">New Topic</a>
        <!-- Adăugați conținut specific pentru discuții generale aici -->
        
        <div class="dg-container">
            <ul class="dg-ul">
                {% for topic in topics %}
                <a href="{{ url_for('topic_details', topic_id=topic.topic_id) }}" target="_blank">{{ topic.title }}</a>
                <p>{{ topic.post }}</p>
                {% endfor %}
            </ul>
        </div>        

    </main>

    <footer class="footer">
        <p>&copy; 2023 fun.bimbizone.ro (UWC3mod) - Forum CS 1.6</p>
    </footer>
{% endblock %}