{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content%}


    <main class="main-content">
        <section class="content-section">
            <h2>Regulament</h2>
            <p>Acestea sunt regulile forumului pe care toți utilizatorii trebuie să le respecte.</p>
        </section>
        
        <!-- Adăugați conținut specific pentru tutorial aici -->

        <div class="regulament-content">
            <ol class="regulament-ol">
                <li><b>Respectați toți membrii forumului.</b></li>
                <li>Nu folosiți un limbaj ofensator sau comportament agresiv.</li>
                <li>Nu postați conținut ilegal sau inadecvat.</li>
                <li>Păstrați discuțiile în temă și evitați spamul.</li>
                <!-- Adăugați mai multe reguli aici -->
            </ol>
        </div> 
	         
        <!-- Adăugați conținut specific pentru tutorial aici -->

    </main>

    <footer class="footer">
        <p>&copy; 2023 fun.bimbizone.ro (UWC3mod) - Forum CS 1.6</p>
    </footer>
{% endblock %}